# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
.env
*.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

.env
env/
venv/
__pycache__/
db.sqlite3
